<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room1</title>
    <link rel="stylesheet" href="/public/css/room1.css">
  </head>
  <body>
    <header>
      <nav>
        <i class="fa-solid fa-reply"></i>
        <i class="fas fas fa-bars"></i>
      </nav>
    </header>
    <article>
      <div class="RoomTemplate">
        <div class="ImgRoom">
          <img src="/public/img/pool-index-photo.png" alt="" />
        </div>
        <div class="container-father">
        <div class="title">
          <h1>Habitacion sencilla</h1>
        </div>
        <div class="cost">
          <p>$189 MXN por noche</p>
        </div>
        <div class="desc">
          <p>
            En nuestro hotel nos enfocamos en brindar una experiencia comoda y
            placentera para cada huesped. Ofrecernos una variedad de servicios
            pensados para satisfacer tus necesidades durante tu instancia,
            combinando atencion personalizada, confot y calidad en cada detalle
          </p>
        </div>
        
      </div>
      <div class="container-father2">
          <div class="TitleContact">
            <h2>Te contactaremos</h2>
          </div>
          <div class="Name">
            <input type="text" name="name" id="name" placeholder="Nombres">
          </div>
          <div class="LastName">
            <input type="text" name="last" id="last" placeholder="Apellidos">
          </div>
          <div class="Email">
            <input type="email" name="email" id="email" placeholder="Correo electronico">
          </div>
          <div class="Number">
            <input type="number" name="number" id="number" placeholder="Numero telefonico">
          </div>
          <div class="ButtonSend">
          <input type="button" id="button" value="Enviar informacion">
          </div>
        </div>
      </div>
    </article>
    <script
      src="https://kit.fontawesome.com/e073821f55.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
