@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* MOBILE DESIGN */

.desktopDesign, .tabletDesign{
  display: none;
}
.mobileDesign{
  display: block;
}
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  overflow-x: hidden;
}

:root {
  --Black: #0e0e0e;
  --White: #ededed;
  --Gray: #626262;
  --bodyGray: #ebebeb;
}
 
/* HEADER */
header {
  width: 100%;
}

header nav {
  padding-top: 8%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header nav i {
  font-size: 2.5em;
  padding: 4%;
}

.Title #titlep1 {
  position: relative;
  top: -45px;
  text-align: right;
  font-size: 5em;
  color: var(--Black);
  font-weight: 800;
  padding: 0%;
  line-height: 75%;
  letter-spacing: -5px;
}

.Title {
  margin-right: 5%;
  padding: 0% 4%;
}

.Title .desc {
  padding-top: 7%;
  padding-right: 2%;
}

.desc {
  position: relative;
  top: -1em;
  text-align: right;
  font-size: 1em;
  padding: 0% 7%;
  text-indent: 1em;
  font-weight: 400;
  color: var(--Gray);
}

#desk {
  display: none;
}

/* intro section */
.stats {
  width: 100%;
  margin-top: 10%;
  padding: 0% 2%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas: "review    guests  services";
  color: var(--Gray);
  font-weight: 800;
}
.stats .number {
  color: var(--Black);
}

.review,
.guests,
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mobileDesign .review {
  grid-area: review;
  border-right: 1px solid black;
}
.guests {
  grid-area: guests;
  border-right: 1px solid black;
}
.services {
  grid-area: services;
}
.services,
.guests,
.review p {
  font-size: 0.8em;
  font-weight: 300;
}

.introIMG img {
  width: 90vw;
  max-width: 100%;
  height: auto;
  padding: 2%;
}

.introIMG {
  margin-top: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Service section */
.ServTop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 6%;
  border-right: 1px solid black;
}

.title1 {
  width: 100%;
  text-align: center;
}
.title1 h1 {
  font-weight: 600;
  font-size: 2.4em;
  margin: 4%;
  letter-spacing: -2px;
}

.services {
  grid-area: services;
}

.ServDesc {
  width: 100%;
  padding: 3% 7vw;
}

.ServDesc p {
  font-weight: 400;
  width: 100%;
  font-size: 1.2em;
  line-height: 130%;
  color: var(--Gray);
  text-align: justify;
  padding: 0%;
}

.ServIMG {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10%;
}

.ServIMG img {
  width: 85vw;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 30px;
}

.Servunder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 3%;
}
.Servunder h2 {
  font-weight: 400;
  letter-spacing: -1px;
}
.Servunder p {
  font-weight: 400;
  color: var(--Gray);
}

.yoga,
.restaurant,
.clean {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.iconyoga svg,
.iconrestaurant svg,
.iconclean svg {
  width: 12vw;
  height: auto;
  margin-top: 15%;
}

.TitleYoga,
.Titlerestaurant,
.TitleClean {
  font-weight: 800;
  text-align: center;
}

.DescYoga,
.DescRestaurant,
.DescClean {
  text-align: center;
  margin: 4% 8%;
  margin-top: 1%;
}

.BtnTalk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 6%;
}
.containerwhats {
  background-color: var(--Black);
  display: flex;
  justify-content: left;
  margin: 3.8%;
}
.containerwhats i {
  font-size: 2.4vh;
}

.containertalk {
  background-color: var(--Black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 6% 1%;
  border-radius: 4px;
}

#btntalk {
  background-color: var(--Black);
  border: var(--Black);
  color: var(--White);
  font-weight: bold;
  font-size: 1em;
}

/* Secction Choose Rooms */
.titleanddesc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8.5%;
  margin: 1% 5%;
  text-align: center;
}

.titlerooms h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin: 3.3% 0%;
  letter-spacing: -2px;
}

.descrooms p {
  font-weight: 400;
  font-size: 1.3em;
}

.container-father2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Chooseroom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: var(--White);
}

.chooserooms {
  background-color: var(--Black);
  width: 90%;
  height: auto;
  border-radius: 15px;
  margin-top: 8%;
}

.RoomsImg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.RoomsImg img {
  width: 93%;
  height: 400px;
  display: block;
  border-radius: 30px;
  margin-bottom: 2.5%;
}

.subtitlerooms h2,
.CostRooms p {
  padding-left: 6%;
}
.DescRooms p {
  font-size: 1em;
  text-align: justify;
  margin-top: 10%;
  padding: 0% 6%;
}

.Btnreserve {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.Btnreserve input {
  color: var(--Black);
  width: 85%;
  height: 52px;
  border-radius: 10px;
  font-weight: 900;
}

.chooserooms2,
.chooserooms3,
.chooserooms4,
.chooserooms5,
.chooserooms6,
.chooserooms7,
.chooserooms8 {
  display: none;
}

/* Flechas */
.ToChangeRooms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  width: 90%;
  padding-bottom: 10px;
  margin-bottom: 10%;
  gap: 0;
  overflow: hidden;
}

.BeforeRooms svg {
  width: 50%;
  height: 40px;
}
.AfterRooms svg {
  width: 100%;
  height: 40px;
  color: var(--Black);
}

.BeforeRooms {
  background-color: var(--White);
  transform: rotate(180deg);
  width: 50%;
  height: 6.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  border: 2px solid var(--Black);
  border-right: none;
}

.AfterRooms {
  background-color: var(--White);
  width: 50%;
  height: 6.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  border: 2px solid var(--Black);
  border-left: none;
}

/* Section Location */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--Black);
  color: var(--White);
}

.titlelocation h2 {
  font-weight: bold;
  font-size: 2em;
  padding-left: 5%;
  margin: 7% 0% -1%;
  letter-spacing: -2px;
}

.linklocation {
  width: 88%;
}

.desclocation p {
  text-align: left;
  font-size: 1em;
  padding: 0% 6%;
  margin-top: 4%;
}

.linklocation a {
  width: 50%;
  font-weight: bold;
  color: var(--White);
}

.locationmaps {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7% 0 18%;
}
.maps2 {
  width: 90%;
  height: 230px;
}
.locationmaps iframe {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

/* Section Reservation */
.titleReservation {
  width: 100%;
  margin-top: 10%;
  background-color: var(--White);
}
.titleReservation h1 {
  font-weight: 800;
  letter-spacing: -2px;
  font-size: 3em;
  text-align: left;
  padding-left: 10%;
}

.FormsReservation {
  background-color: var(--White);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0%;
  width: 100%;
}

.Name,
.emails,
.Number {
  width: 85%;
}

#name,
#Apellidos,
#email,
#phones {
  background-color: var(--Black);
  border-radius: 5.5px;
  height: 45px;
  width: 100%;
  padding: 0 15px;
  border: none;
  color: var(--White);
  font-size: 1.1em;
  outline-color: #94e790;
  margin-bottom: 12px;
  font-weight: 200;
}

.Button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Bttn {
  margin-top: 5px;
  border-radius: 5.5px;
  width: 85%;
  background-color: var(--White);
  color: var(--Black);
  font-weight: 900;
  border: 3px solid var(--Black);
  padding: 8px 0;
  border-radius: 13px;
}

input::placeholder {
  color: var(--placeholdercolor);
  font-weight: light;
}

/* Section footers */
.FooterInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.FooterLeft,
.FooterRight {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.FooterLeft {
  align-items: flex-start;
}
.FooterRight {
  align-items: flex-end;
}

.Email {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--Black);
}
.Phone {
  color: var(--Black);
  font-size: 1em;
  font-weight: bold;
}
.Location {
  color: var(--Black);
  font-size: 0.7em;
  font-weight: 500;
}

.FooterIcons {
  display: flex;
  padding-top: 28%;
  gap: 15px;
}
#IconSvg {
  width: 30px;
  height: 30px;
  border-radius: 6px;
}
.Hours {
  text-align: right;
  color: var(--Black);
  font-size: 0.7em;
  font-weight: 500;
}
















/* TABLET DESIGN */
@media screen and (min-width: 768px) {
  .tabletDesign{
    display: block;
  }
  .mobileDesign, .desktopDesign{
    display:none;
  }
  :root{
  --Black: #0e0e0e;
  --White: #ededed;
  --Gray: #626262;
  --bodyGray: #ebebeb;
  }
  * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  body{
    background-color: var(--White);
  }

  #hamburgerBtn {
    display: none;
  }

  #desk {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2%;
    margin-bottom: 2%;
  }

  #desk ul {
    display: flex;
    list-style: none;
    margin-right: 20%;
    text-decoration: none;
  }

  #desk ul li {
    padding: 6%;
    text-decoration: none;
  }

  #desk ul li a {
    text-decoration: none;
    color: var(--Black);
    font-weight: 300;
  }

  .text a {
    text-decoration: none;
    color: var(--White);
  }

  /* BUTTON */
  #desk .whatsBtn i {
    font-size: 1.5em;
  }

  #desk .whatsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--Black);
    color: var(--White);
    padding: 1%;
    border-radius: 10px;
    width: 22%;
    gap: 10px;
    font-weight: bold;
    font-size: 0.9em;
  }

  .stats {
    width: 100%;
    margin-top: 10%;
    padding: 0% 0%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "review    guests  services";
  }

  /* Presentation section or intro */
  .Presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
  }
    .tabletDesign .Presentation  .containertemporaly {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:80vh ;
  }
    .tabletDesign .Presentation .containertemporaly .Title {
    width: 100%;
    margin-left: 10%;
  }

    .tabletDesign .Presentation .containertemporaly .Title p {
    margin-left: 1%;
    font-size: 1.2em;
  }

    .tabletDesign .Presentation .containertemporaly .desc {
    width: 100%;
    margin-left: 10%;
  }
   .tabletDesign .Presentation  .containertemporaly .desc p {
    font-size: 0.8em;
    margin-left: 20%;
  }
    .tabletDesign .Presentation .containertemporaly .stats {
    width: 100%;
  }

  .tabletDesign .Presentation .containertemporaly .stats .subtitle {
    font-size: 1em;
  }
      .tabletDesign .Presentation .containertemporaly .stats .review , .guests, .services {
    border-right: solid 1px black;
  }


  .introIMG {
    width: 90%;
    margin-top: 0%;
    margin-bottom: 6%;
    padding: 0% 2%;
  }

  .introIMG img {
    width: 100%;
    height: 100%;
    padding: 0%;
  }



  /* Section about service */
  .ServTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
  }

  .Servleft {
  width: 80%;
  padding: 0% 2%;
  }

  .ServIMG {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 1.7%;
    margin: 0%;
  }

  .ServIMG img {
    padding: 0;
    width: 62vh;
    height: 40vh;
    border-radius: 10%;
    display: block; 
  }

  .title1 {
    width: 100%;
  }
  .title1 h1 {
    width: 100%;
    text-align: left;
    padding: 0%;
    margin: 0%;
  }
  .ServDesc {
    width: 100%;
    padding: 0%;
  }
  .ServDesc p {
    text-align: justify;
    font-size: .8em;
    font-weight: 500;
  }


  .containertalk{
    margin-top: 4.8%;
    width: 100%;
    border-radius: 10.5px;
  }


  .Servunder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction:row;
    margin-bottom: 10%;
  }
  .Yogas, .Restaurants,.Cleans{
    flex-direction: column;
    width: 100%;
    
  }
  .yoga, .restaurant, .clean{
    width: 100%;
    padding-right: 70%;
  }
  .TitleYoga, .Titlerestaurant, .Titleclean{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
  }
  .TitleYoga h2, .Titlerestaurant h2, .Titleclean h2{
    text-align: left;
    width: 100%;
    padding:0% 7% ;
  }

  .DescYoga p, .DescRestaurant p,.DescClean p{
    width: 100%;
    text-align: justify;
    font-size: .8em;
    font-weight:300; 
    
  }
  
  
  .tabletDesign .container-father2{
        margin-bottom: 10%;

  }

  /* Section Choose Room */
  .behaivor{
    width: 100%;
  }
  .ToChangeRooms{
    margin-top: 0%;
    width: 100%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
  }
  /* BUTTONS */
  .back {
  background-color: var(--White);
  transform: rotate(180deg);
  width: 50%;
  height: 6.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
}
.behaivor .Btnreserve{
  width: 30%;
}
.behaivor .Btnreserve input{
  width: 80%;
  border-radius: 35px;
}

  .titlerooms {
    text-align: center;
    font-size: 1.2em;
  }
  .descrooms {
    width: 100%;
  }
  .descrooms p {
    text-align: center;
    font-size: 1em;
  }

.Container2 .chooserooms {
    display: flex ;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius:none;
    color: var(--White);
    margin-top: 5%;
  }
  .Container2 {
    background-color: var(--Black);
    width: 100%;
    margin: 2% 0% 3% 0%;
    display: flex;
    flex-direction: column;
    padding: 0%;
  }

  .CostRooms{
    text-align: center;
    padding: 0%;
  }
  .CostRooms p{
    padding: 0%;
  }
  .RoomsImg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    padding: 2%;
    border-radius: none;
  }
  .RoomsImg img {
    width:80vw;
    height: 50vh;
    border-radius: 30px;
    margin-bottom: 2%;
  }
  .subtitlerooms{
    width: 100%;
  }
  .subtitlerooms h2 {
    text-align: center;
  }
   .tabletDesign .container-father2.titleanddesc .descrooms{
    background-color: yellow;
   }
  .DescRooms p {
    font-size: 1em;
    margin-top: 1.2%;
    padding: 0% 6%;
    text-align: center;
  }
  .Btnreserve{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
  }
  .Btnreserve input {
    color: var(--Black);
    width: 40%;
    height: 52px;
    border-radius: 10px;
    font-weight: 900;
  }

  .tabletDesign .back , .next{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1%;
    width: 15%;
    border-radius: 35px;
  }


  /* Section location */
  .location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 5%;
  }
  .locationtitletolink{
    width: 100%;
    margin-bottom: 9%;
    margin-left: 2.5%;
  }
  .locationtitletolink .titlelocation{
    width: 100%;
    text-align: left;
  }
  .titlelocation h2{
    padding-top : 2%;
    font-size: 2.1em;
  }
  .locationtitletolink .desclocation{
    width: 100%;
    text-align: justify;
    font-size: .8em;
  }
  .locationtitletolink .linklocation{
    width: 100%;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 10%;
  }
  .locationmaps{
    width: 100%;
    height: 100%;
    margin: 2% 0%;
    margin-right: 3%;
  }
  .maps2{
    width: 100%;
    height: 100%;
  }
  .maps2 iframe{
    height: 34vw;
  }

  /* Section Reservation*/
  .ReservationNow{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    background-color: var(--White);
    margin-top: 6%;
  }
  .titleReservation{
    width: 100%;
    margin: 0% 1%;
    padding: 0% 1%;
  }
  .titleReservation h1{
    text-align: left;
    font-size: 3em;
     letter-spacing: -.06em;
  }
  .FormsReservation{
    width: 100%;  
  }
   #formulario{
    padding: 4%;
  }
  .Name, .emails, .Number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3%; 
    width: 60vh;
    margin-top: 4.5%;
  }
  #name, #Apellidos, #email, #phones{
    border-radius: 13px;
    font-weight: 300;
  }
  .Button{
    margin-top: 2%;
    width: 100%;
  }
  #Bttn{
    width: 100%;
  }
  

/* Section footers */
  .FooterInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 5%;
    margin: 0%;
  }
  .FooterLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .Hours{
    width: 100%;
  }
  .Hours p{
    text-align: justify;
  }












}










/* DESKTOP section */
@media screen and (min-width: 900px) {

  .mobileDesign, .tabletDesign{
    display: none;
  }
  .desktopDesign{
    display: block;
  }
  body {
    font-size: 16px;
    background-color: var(--White);
  }
/* STYLES FOR NAV BAR */
  .desktopDesign #desk{
    width: 100%;
    display: flex;
    padding: 1% 5%;
    margin-bottom: 0%;
    justify-content:space-between;
    align-items: center;
  }

  .desktopDesign .anchords {
    width: 80%;
    list-style: none;
  }
   .desktopDesign #desk .button{
    width: 100%;
    display: flex;
    justify-content:flex-end;
   }
  .desktopDesign #desk .button .whatsBtn{
    width: 17vw;
    font-size:1em;
    margin-right: 2%;
  }
/* STYLES FOR ARTICLE */

.intro{
  width: 100%;
  height: 120vh;
  margin-top:1%;
  display: flex;
  justify-content: center;
  align-items:start;
}
.intro .imageSide img{
  width: 33vw;
}
.intro .imageSide {
  margin-left: 2%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.intro .textSide {
  width: 50%;
  height: 70.49vh;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  flex-direction: column;
}
.intro .textSide .title{
  display: flex;
  width:fit-content;
  flex-direction: column;

}
.intro .textSide .title h1{
  font-size: 6em;
  line-height: 80%;
  letter-spacing:-6px;
}
.intro .textSide .title .t1{
  display: flex;
  font-size: 1.3em;
  justify-content:right;

}
.intro .textSide .title .t2{
  display: flex;
  justify-content:right;
  padding:.3% 0%;
  font-size: 1.3em;
  width: 100%;
}
.intro .textSide .title .desc{
  display: flex;
  justify-content:right;
  margin-top:6%;
  width: 100%;
  padding: 0%;
  text-align: right;
}
.intro .textSide .title .desc p{
   width: 60%;
  
}
.desktopDesign .stats2 .number{
  color: #626262;
  font-size: 1.5em;
}
.desktopDesign .stats2 .text2{
  font-size: 1em;
  color: #626262;
}


/* ARTICLE */



.desktopDesign .stats2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 100%;
}
.desktopDesign .stats2 .reseñas , .huespedes, .activities{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #626262;
  padding:0% 2%;
}
.desktopDesign .stats2 .activities{
  border: none;
}
.desktopDesign .stats2 .number{
  color: #626262;
  font-size: 1.5em;
}
.desktopDesign .stats2 .text2{
  font-size: .8em;
  color: #626262;
}



/* Section about service */
.desktopDesign .container{

  margin-top: -20%;
}
.desktopDesign .ServTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: -3% 0%;
}
.desktopDesign .ServTop .ServIMG img{
  width: 69vh;
  height: 42vh;
  padding: 0%;
  display: block;
}
.desktopDesign .ServTop .Servleft{
  padding: 0% 2%;
  width: 100%;
  margin-bottom: 5%;
}
.desktopDesign .ServTop .Servleft .title1{
  width: 100%;
  margin-bottom: 2.5%;
  
}
.desktopDesign .ServTop .Servleft .title1 h1{
  text-align: left;
  font-size: 2.7em;
}
.desktopDesign .ServTop .Servleft .ServDesc{
  width: 100%;
}
.desktopDesign .ServTop .Servleft .ServDesc p{
  font-size: .8em;
  font-weight: 300;
}
.desktopDesign .ServTop .Servleft .containertalk{
  padding: 0%;

}

.desktopDesign .ServTop .Servleft .BtnTalk{
  width: 100%;
  margin-top: 4%;
}



.desktopDesign .Servunder{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    width: 100%;
    flex-direction:row;
    margin-bottom: 10%;
  }
.desktopDesign .Yogas, .Restaurants,.Cleans{
    flex-direction: column;    
  }
.desktopDesign .yoga, .restaurant, .clean{
    width: 100%;
    padding-right: 70%;
  }
.desktopDesign .TitleYoga, .Titlerestaurant, .Titleclean{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}
.desktopDesign .TitleYoga h2, .Titlerestaurant h2, .Titleclean h2{
  text-align: left;
  width: 100%;
  padding:0% 7% ;
}

.desktopDesign .DescYoga p, .DescRestaurant p,.DescClean p{
  width: 100%;
  text-align: justify;
  font-size: .7em;
  font-weight:300;     
}



/* Choose rooms */


  .desktopDesign .chooserooms .titlerooms {
    text-align: center;
    font-size: 1.2em;
  }
  .desktopDesign .chooserooms .descrooms {
    width: 100%;
  }
  .desktopDesign .chooserooms .descrooms p {
    text-align: center;
    font-size: 1em;
  }

.desktopDesign .Container2 .chooserooms {
    display: flex ;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius:none;
    color: var(--White);
    margin-top: 5%;
  }
  .desktopDesign .Container2 {
    background-color: var(--Black);
    width: 100%;
    margin: 2% 0% 3% 0%;
    display: flex;
    flex-direction: column;
    padding: 0%;
  }

  .desktopDesign .CostRooms{
    text-align: center;
    padding: 0%;
  }
  .desktopDesign .CostRooms p{
    padding: 0%;
  }
  .desktopDesign .RoomsImg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    padding: 2%;
    border-radius: none;
  }
  .desktopDesign .RoomsImg img {
    width:70vw;
    height: 57.5vh;
    border-radius: 30px;
    margin-bottom: 2%;
  }
  .desktopDesign .subtitlerooms{
    width: 100%;
  }
  .desktopDesign .subtitlerooms h2 {
    padding: .4%;
    text-align: center;
  }

  .desktopDesign .DescRooms p {
    font-size: 1em;
    margin-top: 1.2%;
    text-align: center;
  }
  .desktopDesign .chooserooms .Btnreserve{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
  }
  .desktopDesign .Btnreserve input {
    color: var(--Black);
    width: 40%;
    height: 52px;
    border-radius: 10px;
    font-weight: 900;
  }

  .desktopDesign .back,.next{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
    padding: 1%;
    width: 22%;
    border-radius: 35px;
  }
  .desktopDesign .chooserooms .behaivor{
    width: 100%;
  }
  .desktopDesign .chooserooms .ToChangeRooms{
    margin-top: 0%;
    width: 100%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
  }
  .desktopDesign .chooserooms .back {
  background-color: var(--White);
  transform: rotate(180deg);
  height: 7.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
}
.desktopDesign .behaivor .Btnreserve{
  width: 39%;
  padding: 2% 1%;
}
.desktopDesign .behaivor .Btnreserve input{
  width: 89%;
  border-radius: 35px;
}
.desktopDesign .container-father2{
  margin-bottom: 5%;
}



/* Section location */
.desktopDesign .locationtitletolink{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.desktopDesign .locationtitletolink .titlelocation{
  width: 100%;
  
}
.desktopDesign .locationtitletolink .titlelocation h2{
  width: 100%;
  font-size: 2.7em;
  letter-spacing: -.1em;
  margin: 0%;
  padding: 0%;
  line-height: 1em;
}
.desktopDesign .locationtitletolink .desclocation{
  width: 100%;

}
.desktopDesign .locationtitletolink .desclocation p{
  font-size: 1em;
  text-align: justify;
  padding: 0%;
  margin: 2% 0%;
}

.desktopDesign .locationtitletolink .linklocation{
  width: 100%;
  margin: 2% 0%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.desktopDesign .locationmaps{
  margin: 4%;
}
.desktopDesign .locationmaps .maps2{
  width: 100%;
}
.desktopDesign .locationmaps .maps2 iframe{
  width: 50vw;
}




/* Section reservation */
.ReservationNow{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    background-color: var(--White);
    margin-top: 6%;
  }
  .titleReservation{
    width: 100%;
    margin: 0% 1%;
    padding: 0% 1%;
  }
  .titleReservation h1{
    text-align: left;
    font-size: 3.9em;
    font-weight: 700;
    line-height:1em;
  }
  .FormsReservation{
    width: 100%;  
  }
   #formulario{
    padding: 4%;
  }
  .Name, .emails, .Number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3%; 
    width: 78vh;
    margin-top: 4.5%;
  }
  #name, #Apellidos, #email, #phones{
    border-radius: 13px;
    font-weight: 300;
    padding: 5%;
  }
  .Button{
    margin-top: 2%;
    width: 100%;
  }
  #Bttn{
    width: 100%;
    border-radius: 20px;
    padding: 3.5%;
  }

  .desktopDesign .FooterInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
  }

  .desktopDesign .FooterLeft{
    width: 50%;
    margin: 1%;
  }

  .desktopDesign .FooterRight{
   width:40%;
  }
  .desktopDesign .FooterRight .FooterIcons,.Hours{
    padding: 2.5%;
  }























}


@media screen and (min-width: 1126px) {

  /* NAV */
  .desktopDesign .anchords ul li{
    margin-right: 4%;
  }
  /* ARTICLE */
  .intro{
  width: 100%;
  height: 120vh;
  margin-top:1%;
  display: flex;
  justify-content: center;
  align-items:start;
}
.intro .imageSide {
  margin-left: 10%;
  display: flex;
  justify-content:center;
  align-items: center;
}

/* STATS */
.desktopDesign .stats2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 100%;
}
.desktopDesign .stats2 .reseñas , .huespedes, .activities{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #626262;
  padding:0% 2%;
}
.desktopDesign .stats2 .activities{
  border: none;
}
.desktopDesign .stats2 .number{
  color: #626262;
  font-size: 1.5em;
}
.desktopDesign .stats2 .text2{
  font-size: 1em;
  color: #626262;
}
}

