@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --Black: #0e0e0e;
  --White: #ededed;
  --Gray: #626262;
  --bodyGray: #ebebeb;
  --placeholdercolor:#e0e0e0;
}

/* MOBILE DEVELOPMENT */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--bodyGray);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7.5% 9%;
}
nav .fa-reply {
  font-size: 1.2em;
  color: white;
  background-color: black;
  padding: 3%;
  border-radius: 15%;
}
nav .fa-bars {
  font-size: 2em;
}

.ImgRoom img {
  height: 50vw;
  border-radius: 25px;
}
.ImgRoom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-father {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 1%;
  padding: 0% 6%;
  margin-top: 5%;

}
.title {
  text-align: left;
  width: 100%;
  margin-top: 1%;
}
.title h1 {
  font-weight: 900;
  font-size: 2.1em;
  letter-spacing:-2px;
}
.cost {
  text-align: left;
  width: 100%;
  color: var(--Gray);
  font-size: 1.4em;
  margin-top: -2%;
  margin-bottom: 4%;
}
.desc {
  width: 100%;
  padding:1%;
  color: var(--Gray);
  font-weight:400;
  font-size: 1.3em;
  line-height: 20px;
  letter-spacing: 1px;
}

/* SLIDER */
.slider-container {
  width: 100%;
  max-width: 340px; /* Ancho máximo del slider */
  margin: 0 auto ;
  overflow: hidden; /* **Oculta los elementos que no caben** */
  position: relative;
}

.slider {
  display: flex; /* Mantiene los items uno al lado del otro */
  transition: transform 0.5s ease-in-out; /* Animación de desplazamiento */
  /* El ancho total debe ser: (Número de slides * 100%) */
  width: 300%;
}

.slide-item {
  min-width: 33.33%; /* Ancho de cada slide (100% / 3 slides) */
  box-sizing: border-box;
  height: 24vh; /* Altura del slider */
  border-radius: 25px;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-item:nth-child(1) {
  background-image: url(/public/img/room1.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.slide-item:nth-child(2) {
  background-color: #33ff57;
}
.slide-item:nth-child(3) {
  background-color: #3357ff;
}
/* Aqui inicia el relleno de informacion para que se contacte con el personal del hotel  */
.container-father2{ 
   display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5% 0%;
    width: 100%;
    height: fit-content;
}
.TitleContact{
    text-align: center;
    width: 100%;
    
}
.TitleContact h2{
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 2em;
}
.Name, .LastName, .Email, .Number{
    width: 85%;
    background-color: none;
    margin-top: 6%;
}
#name, #last, #email, #number {
    background-color: var(--Black);
    border-radius: 5.5px;
    height: 6vw;
    width: 100%;
    padding: 5% 0%;
}

#button{
    margin-top: 10%;
    border-radius: 5.5px;
    width: 85%;
    background-color:var(--White) ;
    color: var(--Black);
    font-weight:900;
    border: 2.5px solid var(--Black);
    padding: 1.5% 0%;

}
.ButtonSend{
  display:flex;
  justify-content: center;
  align-items: center;
    width: 100%;
}
input::placeholder{
    color:var(--placeholdercolor);
    font-weight: lighter;
}
input{
    outline-color: #94e790;
    color: white;
    font-size: 1.1em;
    text-indent: 4%;
}
.tablet{
  display: none;
}
.desk{
  display:none;
}



















/* TABLET DEVELOPMENT */
@media screen and (min-width:768px) {

    .navtablet{
      width: 100%;
      display: block;

    }
      .mobile{
    display: none;
  }
    #hamburgerBtn {
    display: none;
  }

.tablet  #desk {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding:4% 0%;
  }

  .tablet #desk ul {
    display: flex;
    list-style: none;
    margin-right: 30%;
    text-decoration: none;
  }

  .tablet #desk ul li {
    padding: 6%;
    text-decoration: none;
  }

  .tablet #desk ul li a {
    text-decoration: none;
    color: var(--Black);
    font-weight: 300;
  }

  .text a {
    text-decoration: none;
    color: var(--White);
  }
  
  /* BUTTON */
  #desk .whatsBtn i {
    font-size: 1.5em;
  }

  #desk .whatsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--Black);
    color: var(--White);
    padding: 1%;
    border-radius: 10px;
    width: 22%;
    gap: 10px;
    font-weight: bold;
    font-size:.9em;
  }

  /* ARTICLE */
  .desk{
    display:flex;
    width: 100%;
    padding: 0%;
    height: auto;
  }
  .desk .leftZone{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
  }
  .desk .leftZone .Title{
    width: 100%;
    font-size: 2.1em;
  }
  .desk .leftZone .Title h1{
    padding-left: 4%;
  }

  .desk .leftZone .cost p{
    margin-left: 5%;
    font-size: 1.3em;
  }
  .desk .leftZone .desc{
    padding: 0%;
  }
  .desk .leftZone .desc p{
    padding: 0% 5%;
    font-size: .7em;
  }
/* SLIDER */
.slider-container {
  width: 100%;
 /* Ancho máximo del slider */
  margin: 0 auto ;
  overflow: hidden; /* **Oculta los elementos que no caben** */
  position: relative;
}

.slider {
  display: flex; /* Mantiene los items uno al lado del otro */
  transition: transform 0.5s ease-in-out; /* Animación de desplazamiento */
  /* El ancho total debe ser: (Número de slides * 100%) */
  width: 300%;
}

.slide-item {
  min-width: 33.33%; /* Ancho de cada slide (100% / 3 slides) */
  box-sizing: border-box;
  height: 30vh; /* Altura del slider */
  border-radius: 25px;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-item:nth-child(1) {
  background-image: url(/public/img/room1.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  
}
.slide-item:nth-child(2) {
  background-color: #33ff57;
}
.slide-item:nth-child(3) {
  background-color: #3357ff;
}
#ZONE{
  padding:0% 2%;
}

#ZONE .formTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6%;
  letter-spacing: -2px;
}
#ZONE .form{
  margin-top: 15%;
}
#ZONE .form .name{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 15%;
}
#ZONE .form .name #Names,#apellidos {
  background-color:var(--Black);
  width:50%;
  padding:1.3%;
  border-radius: 10px;
    font-weight: 600;
}
#ZONE .form .button{
  width: 100%;
}
#ZONE .form #correo, #phone{
  width: 100%;
  background-color: var(--Black);
  border-radius: 10px;
  padding:1.3%;
  font-weight: 600;
}
#ZONE .form ,#Btn{
  width: 100%;
  padding: 1.3%;
  background-color: var(--White);
  color: var(--Black);
  border-radius: 10px;
    font-weight: 700;
    letter-spacing: -1px;
}
#ZONE .form .name #Names{
  margin-right: 3%;
}
#ZONE .form .correo,.numero,.button{
  margin-bottom: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
}
  }
























































  /* PC DEVELOPMENT */
@media screen and (min-width:1024px) {


    .navtablet{
      width: 100%;
      display: block;

    }
      .mobile{
    display: none;
  }
    #hamburgerBtn {
    display: none;
  }

.tablet  #desk {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding: 0.5% 0%;
  }

  .tablet #desk ul {
    display: flex;
    list-style: none;
    margin-right: 30%;
    text-decoration: none;
  }

  .tablet #desk ul li {
    padding: 6%;
    text-decoration: none;
  }

  .tablet #desk ul li a {
    text-decoration: none;
    color: var(--Black);
    font-weight: 300;
  }

  .text a {
    text-decoration: none;
    color: var(--White);
  }
  
  /* BUTTON */
  #desk .whatsBtn i {
    font-size: 1.5em;
  }

  #desk .whatsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row ;
    background-color: var(--Black);
    color: var(--White);
    padding: 0.8%;
    border-radius: 10px;
    width: 14%;
    gap: 10px;
    font-weight: bold;
    font-size:.9em;
  }

  /* ARTICLE */
  .desk{
    display:flex;
    width: 100%;
    padding: 0%;
    height: auto;
    margin-top: 2.5%;
  }
  .desk .leftZone{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
  }
  .desk .leftZone .Title{
    width: 100%;
    font-size: 2.1em;
  }
  .desk .leftZone .Title h1{
    padding-left: 4%;
  }

  .desk .leftZone .cost p{
    margin-left: 5%;
    font-size: 1.3em;
  }
  .desk .leftZone .desc{
    padding: 0%;
  }
  .desk .leftZone .desc p{
    padding: 0% 5%;
    font-size: .7em;
  }
/* SLIDER */
.slider-container {
  width: 100%;
 /* Ancho máximo del slider */
  margin: 0 auto ;
  overflow: hidden; /* **Oculta los elementos que no caben** */
  position: relative;
}

.slider {
  display: flex; /* Mantiene los items uno al lado del otro */
  transition: transform 0.5s ease-in-out; /* Animación de desplazamiento */
  /* El ancho total debe ser: (Número de slides * 100%) */
  width: 300%;
}

.slide-item {
  min-width: 33.33%; /* Ancho de cada slide (100% / 3 slides) */
  box-sizing: border-box;
  height: 30vh; /* Altura del slider */
  border-radius: 25px;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-item:nth-child(1) {
  background-image: url(/public/img/room1.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  
}
.slide-item:nth-child(2) {
  background-color: #33ff57;
}
.slide-item:nth-child(3) {
  background-color: #3357ff;
}
#ZONE{
  padding:0% 2%;
  /* Lo agregue para que estuviera a la par del icono de reservar o whats */
  margin-right: 20px;
}

#ZONE .formTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -2px;
  font-weight: bold;
  margin-bottom: 0%;
}
#ZONE .formTitle h1{
  width: 100%;
  text-align: center;
  font-size: 3.2em;

}

#ZONE .form{
  margin-top: 0%;
}
#ZONE .form .name{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 6%;
}
#ZONE .form .name #Names,#apellidos {
  background-color:var(--Black);
  width:50%;
  padding:1.9%;
  border-radius: 10px;
  font-weight: 600;
}
#ZONE .form .button{
  width: 100%;
}
#ZONE .form #correo, #phone{
  width: 100%;
  background-color: var(--Black);
  border-radius: 10px;
  padding:1.9%;
  font-weight: 600;
}
#ZONE .form ,#Btn{
  width: 100%;
  padding: 1.3%;
  background-color: var(--White);
  color: var(--Black);
  border-radius: 10px;
  font-weight: 700;
  letter-spacing: -1px;
}
#ZONE .form .name #Names{
  margin-right: 3%;
}
#ZONE .form .correo,.numero,.button{
  margin-bottom: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
}

  }
