@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "DM Sans", sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12% 10%;
    
}
nav i{
    font-size: 1em;
    color: white;
    background-color: black;
    padding: 4%;
    border-radius: 15%;

}
.ImgRoom img{
    height: 60vw;
}
.ImgRoom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-father{
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-direction: column;
    gap: 1%;
    padding: 5%;
}
.title{
    text-align:left ;
    width: 100%;
    margin-top: 3%;   
}
.title h1{
    font-weight:900;
}
.cost{
    text-align: left;
    width: 100%;
}
.desc{
    text-align: left;
    width: 100%;
    padding: 3%;

}
/* Aqui inicia el relleno de informacion para que se contacte con el personal del hotel  */
.container-father2{ 
    display:grid;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 5%;


}
.TitleContact{
    text-align: center;
    width: 100%;
}
.TitleContact h2{
    font-weight: 900;
}
.Name, .LastName, .Email, .Number{
    width: 70vw;
    background-color: none;
}
#name{
    background-color: black;
    border-radius: 5.5px;
    height: 6vw;
    width: 100%;
    padding: 2.5% 0% 2.5% 1.5%;
}
#last{
    background-color: black;
    border-radius: 5.5px;
    height: 6vw;
    width: 100%;
    padding: 2.5% 0px 2.5% 1.5%; 
}
#email{
    background-color: black;
    border-radius: 5.5px;
    height: 6vw;
    width: 100%;
    padding: 2.5% 0px 2.5% 1.5%;
}
#number{
    background-color: black;
    border-radius: 5.5px;
    height: 6vw;
    width: 100%;
    padding: 2.5% 0px 2.5% 1.5%;
}
#button{
    margin-top: 1.5%;
    border-radius: 5.5px;
    width: 100%;
    background-color:white ;
    color: black;
}
input::placeholder{
    padding: 3%;
    color:white;
}
input{
    color: white;
}